<div class="container">

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Add Event</h1>
                <button type="button" class="btn btn-success"><a href="/schedule">back to calendar!</a></button>
            </div>
            <div class="col-4"></div>
        </div>


        <div class="row">
            
                <ul class="list-group event-list">
                    <li class="list-group-item new-item">
                        <form class="new-event" id="add-event-form">
                            
                                <div class="row">
                                    <div class="col-2">
                                        <input class="new-item form-control" id="title" placeholder="Event" type="text" />
                                    </div>
                                    <div class="col-3">
                                        <input class="new-item form-control" id="date"placeholder="" type="date" />
                                    </div>
                                    <div class="col-2">
                                        <input class="new-item form-control" id="time"placeholder="" type="time" />
                                    </div>
                                    <div class="col-3">
                                        <input class="new-item form-control" id="location" placeholder="Location" type="text" />
                                    </div>

                                    <div class="col-2">
                                        <button type="submit" class="btn btn-success">Add Event</button>
                                    </div>
                                </div>
                            
                        </form>
                    </li>
                    <span class="event-container">
                    </span>
                </ul>
            
        </div>
    </div>
    <!-- Custom Script -->
    <script src="js/addevent.js" type="text/javascript"></script>
