        <table>
            <thead>
                <th>title</th>
                <th>name</th>
                <th>created time</th>
                <th>body</th>
            </thead>
            <tbody>
                {{#each posts}}
                <tr>
                    <td>{{body}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
